body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #000, #1b1b1b, #000);
    color: white;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container principal estilo glass */
.container {
    background: rgba(255, 255, 255, 0.08);
    padding: 40px;
    width: 70%;
    border-radius: 25px;
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    animation: slide 0.8s ease-out;
    text-align: center;
}

/* Animação de entrada */
@keyframes slide {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Título neon */
.titulo {
    font-size: 35px;
    margin-bottom: 20px;
    text-shadow: 0 0 15px cyan;
}

/* Descrição */
.descricao {
    font-size: 18px;
    margin-bottom: 35px;
    line-height: 1.6;
}

/* Cards */
.cards {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

/* Cada card */
.card {
    flex: 1;
    background: rgba(255,255,255,0.06);
    padding: 25px;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(0,255,255,0.1);
}

.card h2 {
    text-shadow: 0 0 10px cyan;
}

/* Efeito hover neon */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 18px cyan;
}

/* Botão voltar */
.voltar {
    display: inline-block;
    margin-top: 30px;
    color: cyan;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.voltar:hover {
    text-shadow: 0 0 10px cyan;
    transform: scale(1.1);
}
